
	<div class="thumbnail">
		<div class="caption">
			<h4 class="thumbHeadline">{{name}}</h4>
			<p class="thumbP">
				<button type='button' class='btn btn-secondary add-button' data-id='{{id}}' data-name='{{name}}'>View</button>
			</p>
        </div>
        <img src='/assets/images/icons/{{name}}.jpg' alt='{{name}}' class='image' style="max-height: 100%">
    </div>
